**/bin/
**/obj/
**/*publish/
*.exe
*.msix
*.pfx
*.p12
*.key
*.dpapi
*.log
*.pid
*.tmp
**/settings.ini
**/cloudfiles.ini
**/cloudfiles-test.ini
**/server.conf
**/chpw.json
**/tunnel-token.txt
**/登录信息.txt
**/caddy-data*/
**/runtime/
**/files/
